* {
  color: white;
}

@keyframes appear {
  from {
    top: 50px;
  }

  to {
    top: 0;
  }
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  background-color: #731982;
  padding: 64px;
  padding-bottom: 24px;
}

.app__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
