* {
  color: white;
}

@keyframes appear {
  from {
    top: 50px;
  }

  to {
    top: 0;
  }
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  background-color: #731982;
  padding: 64px;
  padding-bottom: 24px;
}

.app__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.app__fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 256px;
  background-color: #00B956;
  border-radius: 50%;
  font-size: 32px;
  font-weight: 500;
}
